/* Definições gerais para todos os elementos */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Estilo do corpo do documento */
body {
  font-family: 'Nunito', sans-serif;
  color: #384047; /* Cor de texto principal */
}

/* Estilo do formulário */
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #E8E3D3; /* Fundo neutro (cor de terra) */
  border-radius: 8px;
}

/* Estilo do cabeçalho */
h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: #059212; /* Verde (toque agrícola) */
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: #fff; /* Fundo branco */
  border: 1px solid #9BEC00; /* Borda verde clara */
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: #384047; /* Cor de texto principal */
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

/* Estilo para botões de rádio e checkbox */
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

/* Estilo para o elemento select */
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

/* Estilo do botão */
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #059212; /* Verde principal */
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #9BEC00; /* Verde claro */
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/* Estilo para o fieldset */
fieldset {
  margin-bottom: 30px;
  border: none;
}

/* Estilo para a legenda do fieldset */
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #059212; /* Verde */
}

/* Estilo para etiquetas */
label {
  display: block;
  margin-bottom: 8px;
  color: #059212; /* Verde */
}

/* Estilo específico para etiquetas leves */
label.light {
  font-weight: 300;
  display: inline;
}

/* Estilo para números */
.number {
  background-color: #9BEC00; /* Verde claro */
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

/* EFEITO DE DIGITAÇÃO */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container p span.typed-text {
  font-weight: normal;
  color: #dd7732; /* Cor de destaque para texto digitado */
}

.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* Estilo para links agropecuários */
.link_agro {
  text-decoration: none;
  color: #dd7732; /* Cor de destaque para links agropecuários */
}

/* Media query para telas maiores */
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
